//- Lo de abajo era una version inicial. Ahora lo que hago es importar una PLANTILLA (index) y le indico como rellenar esa plantlla
//- html
//-     head
//-         title='PUG js'
//-     body
//-         h1=message

extends index.pug
block content 
    h1=message