<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./ejsPartials/head.ejs') %>
</head>
<body>
    <%- include('./ejsPartials/header.ejs') %>
    <%- include('./ejsPartials/embededProductList.ejs') %>
</body>
<footer>
    <%- include('./ejsPartials/footer.ejs') %>
</footer>
</html>